body {
  background-image: url('/background.jpg');
  background-size: 100%;
}

#app {
  padding: 0 15px;

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  background-color: azure;
  border-radius: 15px;
}

h1 {
  text-align: center;

  color: slategrey;
}